header {
    border: 5px solid red;
}

main {
    border: 5px solid red;
}

.bestsellers-section {
    border: 5px solid orange;
    /* width: 1920px; 가로 스크롤 활성화 -> x */
    padding: 124px 80px;
}

.ul-nav {
    border: 5px solid green;
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
}

.section-title {
    border: 5px solid blue;
}

.view-all {
    border: 5px solid blue;
}

.amp-swiper {
    border: 5px solid green;
}

footer {
    border: 5px solid red;
}