.main2-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 10px 10px;
}

.left-box {
    width: 960px;
    height: 700px;
    background: #EBEBEB;
}

.right-box {
    width: 960px;
    height: 700px;
    background: #FBF9FB;
}

.bar {
    display: flex;
    width: 1920px;
    height: 60px;
    padding: 50px 60px;
    align-items: flex-start;
    flex-shrink: 0;
    background: #464646;
}
